.app {
  width: 80%;
  margin: auto;
}
.containers {
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
  color: var(--dark-font-color);
}

.container {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  padding: 0.8em 0.8em 0 0.8em;
  background-color: var(--top-background-color);
}

.container label {
  font-weight: 500;
}

.container th {
  font-weight: 500;
}
.container td {
  padding: 0 5px;
  background-color: var(--middle-background-color);
}
